.two-column-container1 {
    display: flex;
    padding-top: 13px;

  }
  
  .column {
    flex: 1;
    box-sizing: border-box;
  }
  
  .left-column {
    padding-top: 35px;
  }
  
  .right-column {
    padding-top: 150px;
    padding-left: 50px;
    
  }
  p{
    color: #30323e;
    font-size: 20px;
  }